@model HoGent_Stages.Models.Domain.Student
@{
    ViewBag.Title = "title";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<hgroup class="title">
</hgroup>

<article>
<form action="" method="POST">
    @* naar homelink sturen ipv example -> nieuwe view maken voor de boodschap dat gelukt is *@ 
    <table cellspacing="2" cellpadding="2" border="0">
        <tr>
            <td>
                @Html.LabelFor(x => x.Naam)
            </td>
            <td>
                @Html.DisplayFor(x => x.Naam)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.VoorNaam)
            </td>
            <td>
                @Html.DisplayFor(x => x.VoorNaam)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Email)
            </td>
            <td>
                @Html.DisplayFor(x => x.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Straat)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Straat)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Straat)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Nummer)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Nummer)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Nummer)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Postcode)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Postcode)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Postcode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Plaats)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Plaats)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Plaats)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Gsm)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Gsm)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.Gsm)
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <button type="submit">
                    <span>Opslaan</span>
                </button>
            </td>
        </tr>
                
       
    </table>
</form></article>
