@model PagedList.IPagedList<HoGent_Stages.Models.Domain.Stage>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}

<h2>Overzicht</h2>

@using (Html.BeginForm("Overzicht", "Student", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input class="btn btn-default" type="submit" value="Zoeken" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Naam bedrijf
        </th>
        <th>
            @Html.ActionLink("Titel", "Overzicht", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            Omschrijving
        </th>
        <th>
            Aantal studenten
        </th>
        <th>
            Semester
        </th>
        <th>
            @Html.ActionLink("Datum", "Overzicht", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
    </tr>
    

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BedrijfNaam) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalStudenten)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToegevoegDateTime)
        </td>
    </tr>
}

</table>
<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Overzicht", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))