@model HoGent_Stages.Models.Domain.Mentor

@{
    ViewBag.Title = "Aanmaken Stage";
    ViewBag.Message = "Maak hier een stage aan";
}
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<hgroup class="title">
</hgroup>

<article>
        <form action="" method="POST">
            @* naar homelink sturen ipv example -> nieuwe view maken voor de boodschap dat gelukt is *@ 
            <table cellspacing="2" cellpadding="2" border="0">
                <tr>
                    <td>
                        @Html.LabelFor(x => x.aanspreektitel)
                    </td>
                    <td>
                    <select name="Aanspreektitel">
                        <option value="dhr.">Dhr.</option>
                        <option value="mevr.">Mevr.</option>
                    </select>
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.aanspreektitel)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.naam)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.naam)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.naam)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.voornaam)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.voornaam)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.voornaam)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.email)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.email)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.functie)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.functie)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.functie)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.gsm)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.gsm)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.gsm)
                    </td>
                </tr>

                <tr>
                    <td>
                        <br />
                        <button type="submit">
                            <span>Opslaan</span>
                        </button>
                    </td>
                </tr>
                
       
            </table>
        </form>
</article>

<aside>

</aside>