@{
    ViewBag.Title = "Create";
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <form action="http://www.example.com/subscribe.php" method="POST">
            @* naar homelink sturen ipv example -> nieuwe view maken voor de boodschap dat gelukt is *@ 
            <table cellspacing="2" cellpadding="2" border="0">
       
                <p> Bedrijfsnaam: <input type="text" name="Bedrijfsnaam" maxlength="30" /></p>
                <p>E-mailadres (eveneens aanmeldingsaccount) <input type="text" name="E-mail" maxlength="30" /></p>
                <p>Wachtwoord: <input type="text" name="Wachtwoord" maxlength="15" />
                <br/>
                <p>Straat: <input type="text" name="Straat" maxlength="30" /> </p>
                <p>Nummer: <input type="text" name="Straatnummer" maxlength="5" /></p>
                <p>Postcode: <input type="text" name="Postcode" maxlength="4" /></p>
                <p>Plaats: <input type="text" name="Plaats" maxlength="30" /></p>
                <p>Site van het bedrijf: <input type="text" name="URL" maxlength="50" /></p>
                <p>Telefoonnummer: <input type="text" name="Telefoon" maxlength="10" /></p>
    
                <p>
                    Bereikbaarheid van het bedrijf: <br />
                    <input type="checkbox" name="Bereikbaarheid" value="Wagen" /> Wagen
                    <input type="checkbox" name="Bereikbaarheid" value="Openbaar vervoer" /> Openbaar vervoer
                    <input type="checkbox" name="Bereikbaarheid" value="Georganiseerd" /> Georganiseerd
                </p>
                <br/>
                <input type="submit" name="Valideren" value="Submit" />
       
            </table>
        </form>
    </p>
</article>

<aside>
    <h3>Navigatie</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>

        <li>@Html.ActionLink("Create", "Create", "Bedrijf")</li>
        <li>@Html.ActionLink("Details", "Details", "Bedrijf")</li>
    </ul>
</aside>