@model HoGent_Stages.Models.Domain.Stage

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<article>
    <form action="" method="POST">
        @Html.ValidationSummary(true)
        @* naar homelink sturen ipv example -> nieuwe view maken voor de boodschap dat gelukt is *@ 
        <table cellspacing="2" cellpadding="2" border="0">
            <tr>
                <td>
                    @Html.LabelFor(x => x.Titel)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Titel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Omschrijving)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Omschrijving)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.AantalStudenten)
                </td>
                <td>
                    @Html.DisplayFor(x => x.AantalStudenten)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Specialisatie)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Specialisatie)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Semester)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Semester)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.ToegevoegDateTime)
                </td>
                <td>
                    @Html.DisplayFor(x => x.ToegevoegDateTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.MentorNaam)
                </td>
                <td>
                    @Html.DisplayFor(x => x.MentorNaam)
                </td>
            </tr>
            <tr>
            <td>
              
                <button type="submit">
                    <span>Opslaan</span>
                </button>
            </td>      
        </table>
    </form>
    </article>

