@model Hogent_Stages.Repository.Stages.Bedrijf


@{
    ViewBag.Title = "Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*                <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>*@
            </hgroup>
            <img src="../Images/logokleur_trans.gif" />

        </div>
    </section>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.bedrijfsNaam)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.email)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.wachtwoord)
        </th>
        <th></th>
    </tr>
</table>
   
        <table>
        <tr>
            <td>
                @Html.DisplayFor(x => x.bedrijfsNaam)
            </td>
            <td>
                @Html.DisplayFor(x => x.email)
            </td>
            <td>
                @Html.DisplayFor(x => x.wachtwoord)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
        </tr>
    </table>
