@using HoGent_Stages.Models.Domain

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Aanmaken Bedrijf";
}


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<hgroup class="title">
    <h3>Overzicht</h3>
</hgroup>

<article>
    <p>

    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td>Titel</td>
            <td>Omschrijving</td>
            <td>Specialisatie</td>
            <td>Semester</td>
            <td>Aantal studenten</td>
            <td>stagementor</td>
            
        </tr>
        <tr></tr>
        @foreach(Stage stage in Model)
        {
            <tr>
                <td>@Html.ActionLink("Deleted", "Deleted",  new { id = stage.Id} )</td>
                <td>@Html.ActionLink("Edit", "Edit",  new { id = stage.Id} )</td>
                <td>@stage.titel</td>
                <td>@stage.omschrijving</td>
                <td>@stage.specialisatie</td>
                <td>@stage.semester</td>
                <td>@stage.aantalStudenten</td>
                <td>@stage.mentorNaam</td>
            </tr>
        }
    </table>


</article>

<aside>

</aside>