@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@model Hogent_Stages.Repository.Stages.Stage
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Aanmaken Bedrijf";
}

@{
    var db = Database.Open("stagesContext");
    var data = db.Query("SELECT * FROM Stage WHERE aantalStudenten > 0 ORDER BY id DESC");
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<hgroup class="title">
    <h3>Overzicht</h3>
</hgroup>

<article>
    <p>

    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td>Titel</td>
            <td>Omschrijving</td>
            <td>Specialisatie</td>
            <td>Semester</td>
            <td>Aantal studenten</td>
            <td>stagementor</td>
            
        </tr>
        <tr></tr>
        @foreach(var row in data)
        {
            <tr>
                <td>@Html.ActionLink("Deleted", "Deleted",  new { id = row.Id} )</td>
                <td>@Html.ActionLink("Edit", "Edit",  new { id = row.Id} )</td>
                <td>@row["titel"]</td>
                <td>@row["omschrijving"]</td>
                <td>@row["specialisatie"]</td>
                <td>@row["semester"]</td>
                <td>@row["aantalStudenten"]</td>
                <td>@row["mentorNaam"]</td>
            </tr>
        }
    </table>


</article>

<aside>

</aside>