@{
    ViewBag.Title = "Over";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Deze webapplicatie is ontwikkeld door studenten van het 2de jaar toegepaste informatica van de Hogeschool Gent te Aalst in kader van het opleidingsonderdeel
        Projecten II Workshops. De opdracht was om een online beveiligde toepassing te maken voor stages, projecten en bachelorproeven.
        Deze applicatie bestaat uit volgende mogelijkheden:
        <ul>
            <li>Website voor externen met informatie rond samenwerkingsmogelijkheden met het werkveld waaronder de werking van stages/projecten/bachelorproef/gastcolleges,</li>
            <li>beheren van de stagemodule,</li>
            <li>beheren van de aanvraag projecten,</li>
            <li>beheren van de aanvraag bachelorproeven,</li>
            <li>beheren van de aanvraag gastcolleges.</li>
        </ul>
    </p>

    <p>
        Hoe kunt u deze applicatie gebruiken?
        <ul>
            <li>Als u student bent, kunt u zich aanmelden met uw aanmeldingsaccount gekregen door de HoGent,</li>
            <li>Als u een bedrijf bent, kunt u zich registreren en daarna telkens met uw emailadres aanmelden,</li>
            <li>Als u een stagebegeleider bent, kunt u zich aanmleden met uw aanmeldingsaccount gekregen door de HoGent.</li>
        </ul>
    </p>

    <p>
        Indien u problemen ondervindt met het gebruiken van deze applicatie, gelieve zich te wenden naar de contactpagina, 
        hier vindt u onze emailadressen waarop u ons kan contacteren.
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@